*{margin: 0; padding: 0;}

.display
{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    flex-direction: column;
}

.display2
{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.display3
{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#resul
{
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iao
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    box-shadow: 10px 10px 10px 10px #00000052;
    width: 60%;
    border-radius: 15px;
}

#altera1, #altera2, #altera3
{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 3%;
}

.flex2
{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header
{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 10px 10px 10px 10px #00000052;
}


.triste
{
    margin-left: 5%;
    box-shadow: 10px 10px 10px 10px #00000052;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    gap: 20px;
    display: none;
}

h2
{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#tempo
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 80%;   
    margin-top: 5%;
    border:4px solid #fd76b4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 25px;
}

li
{
    margin-bottom: 5%;
    background: white;
    box-shadow: 10px 10px 10px 10px #00000052;
    width: 50%;
    height: 30%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex 
{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.la
{
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    background: white;
    box-shadow: 10px 10px 10px 10px #65f1fe56;
    width: 35vh;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif ;
 }

button:hover
{
    scale: 1.1;
}

label
{
    font-size: 26px;
}

input
{
    cursor: pointer;
    scale: 2;
    margin-right: 10px;
}

.absolute
{
    position: absolute;
    display: flex;
    margin-top: 4%;
    margin-left: 8%;
    align-items:center;
    gap: 20px;
}

h1
{
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.span1
{
    color:#fd76b4;
}

.span2
{
    color: #65f1fe;
}

.img
{
    display: flex;
    align-items: center;
    justify-content: center;
}

button
{
    border-radius: 15px;
    border: white;
}
